{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8 mt-5 offset-md-2">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">{% trans "Sign In" %}</h3>
          <p class="card-text">{% blocktrans %}Welcome back to the ParrotHub. To leave a comment on Events, please log
            in. If you have not created an account yet, then <a class="link" href="{{ signup_url }}">sign up</a>
            first.{% endblocktrans %}</p>
          <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
              {{ form.non_field_errors }}
            </div>
            {% endif %}
            <div class="row mb-3">
              <label for="id_login" class="col-sm-3 col-form-label">{% trans "Username" %}</label>
              <div class="col-sm-9">
                {{ form.login }}
                {% if form.login.errors %}
                <div class="invalid-feedback">
                  {{ form.login.errors|join:", " }}
                </div>
                {% endif %}
              </div>
            </div>
            <div class="row mb-3">
              <label for="id_password" class="col-sm-3 col-form-label">{% trans "Password" %}</label>
              <div class="col-sm-9">
                {{ form.password }}
                {% if form.password.errors %}
                <div class="invalid-feedback">
                  {{ form.password.errors|join:", " }}
                </div>
                {% endif %}
              </div>
            </div>
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <div class="row">
              <div class="col-sm-9 offset-sm-3">
                <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}