{% extends 'base.html' %}
{% url 'add_event' as add_event_url %}
{% load static %}

{% block content %}
<div class="container">
    <h1 class="my-4">Events</h1>
    <div class="d-flex justify-content-end mb-3">
        {% if user.is_authenticated and user.is_staff %}
        <a href="{% url 'add_event' %}" class="btn btn-success">Add Event</a>
        {% endif %}
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for event in events %}
        <div class="col">
            <div class="card h-100">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ event.title }}</h5>
                    <p class="card-text flex-grow-1">{{ event.description }}</p>
                    <div class="mt-auto">
                        <p class="card-text">Date: {{ event.date }}</p>
                        <p class="card-text">Time: {{ event.time }}</p>
                        <p class="card-text">Location: {{ event.location }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
